<%= form_for(candidate) do |f| %>
  <div>
    <%= f.label :name, "姓名:" %>
    <%= f.text_field :name%>
  </div>
  <div>
    <%= f.label :age, "年齡:" %>
    <%= f.text_field :age%>
  </div> 
  <div>
    <%= f.label :party, "政黨:" %>
    <%= f.text_field :party%>
  </div>      
  <%= f.submit %>   
<% end %>  