<h1>候選人列表</h1>
<%= link_to "新增候選人",new_candidate_path %>
<table>
  <thead>
    <tr>
      <td></td>
      <td>候選人姓名</td>
      <td>年齡</td>
      <td>黨派</td>
      <td>得票數</td>
    </tr>
  </thead>
  <tbody>  
  <% @candidates.each do |candidate| %>
    <tr>
      <td><%= link_to '投票',vote_candidate_path(candidate),method: :post  %></td>
      <td><%= candidate.name %></td>
      <td><%= candidate.age %></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.vote_logs.size %></td>
      <td><%= link_to '編輯', edit_candidate_path(candidate) %></td>
      <td><%= link_to '刪除',candidate_path(candidate), method: :delete, data: { confirm: '確定要刪除?' } %></td>
    </tr>    
  <% end %>
  
  </tbody>
</table>